:root {
    --primary: #fff;
        --PrimaryColor: hsl(199, 100%, 33%);
        --SecondaryColor: hsl(187, 85%, 43%);
        --gradientColor: linear-gradient(to right, hsl(187,85%, 43%)), hsl(199,100%,33%);
        --whiteColor: hsl(0,0%,100%);
        --blackColor: hsl(201, 33%, 16%);
        --textColor: hsl(240, 4%, 36%);
        --whiteColorDeam: hsl(0,0%,93%);
        --greyText: rgb(190, 190, 190);
        --inputColor: rgb(239, 239, 239);
        --bodyColor: rgb(240,240,246);
        --cardBG: rgb(225, 225, 235);
       
}

.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--outline:hover{
    background-color: var(--PrimaryColor);
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover{
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}